.loginPageContainer {
	height: 100vh;
	background: transparent;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	gap: 20px;

	font-size: 20px;
}

.loginPageHeader {
	background: none;
	font-family: sans-serif;
}
