.endInterviewButton {
	border: none;

	width: 50px;
	height: 50px;
	background-color: rgba(255, 0, 0, 0.199);
	border-radius: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;

	transition: all 0.1s ease-in-out;
}
.exitIcon {
	width: 35px;
}

.endInterviewButton:hover {
	background-color: rgba(255, 144, 144, 0.219);
}

.endInterviewButton:active {
	scale: 0.95;
}
