.codeResultsContainer {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

	width: fit-content;
	min-width: 300px;
	max-width: 400px;
	height: 470px;
	border-radius: 40px;

	background: radial-gradient(circle at 0% 0%, #dd00ff13 0%, transparent 50%),
		radial-gradient(circle at 40% 40%, #00a78628 0%, transparent 55%),
		radial-gradient(circle at 100% 100%, #ff000013 0%, transparent 65%), #0f0f14;

	display: flex;
	flex-direction: column;
	padding: 40px 0 40px 0;
	gap: 20px;

	align-items: center;
	justify-content: flex-start;

	border: solid rgba(255, 255, 255, 0.336) 1px;

	overflow-y: auto;

	flex-shrink: 0;
}

.result {
	width: 80%;
	min-height: 58px;
	height: auto;
	border-radius: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
}

.pass {
	background: linear-gradient(
		90deg,
		rgba(87, 221, 87, 0.3) 0%,
		rgba(0, 107, 14, 0.2) 100%
	);
}

.fail {
	background: linear-gradient(
		90deg,
		rgba(255, 59, 59, 0.3) 0%,
		rgba(107, 0, 0, 0.2) 100%
	);
	justify-content: center;
	flex-direction: column;
	gap: 20px;
}

.displayDiff {
	width: 90%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 10px;
	padding: 20px 0;
	box-sizing: border-box;
}

.displayDiff p {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 16px;
	padding-left: 20px;
	word-wrap: break-word;
	word-break: break-word;
	max-width: 100%;
}

.expectedContainer,
.outputContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.expectedP {
	color: green;
}

.outputP {
	color: red;
}
@media (max-width: 1400px) {
	.codeResultsContainer {
		width: 100%;
		max-width: 100%;
		min-width: 0;
	}
}
