* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
}

.app {
	min-height: 100vh;
	height: fit-content;
	min-width: 100%;
	width: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;

	background: radial-gradient(circle at 0% 0%, #ffffff31 0%, transparent 65%),
		radial-gradient(
			circle at 100% 100%,
			rgba(255, 0, 0, 0.123) 0%,
			transparent 50%
		),
		#141414;
}
