.pageContainer {
	width: 100%;
	min-height: 100vh;
	height: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	gap: 20px;

	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.feedbackContainer {
	width: 40%;
	height: fit-content;
	min-height: 600px;

	background: radial-gradient(circle at 0% 0%, #dd00ff13 0%, transparent 50%),
		radial-gradient(circle at 40% 40%, #00a78628 0%, transparent 55%),
		radial-gradient(circle at 100% 100%, #ff000013 0%, transparent 65%), #0f0f14;

	border-radius: 40px;
	border: solid;
	border-width: 1px;
	border-color: rgba(255, 255, 255, 0.212);

	display: flex;
	flex-direction: column;
	gap: 20px;

	justify-content: center;
	align-items: center;

	padding-top: 20px;
	padding-bottom: 20px;
}

.resultSection {
	width: 95%;
	background-color: #23485181;
	border-radius: 40px;
}

.summarySection {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 18px; /*temporarily*/
	padding-left: 5%;
	padding-right: 5%;
	flex: 2;
}

.scoreSection {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	flex: 1;
}
