.interviewPageContainer {
	width: 100%;
	height: 100vh;
	display: flex;
	gap: 50px;
	align-items: center;
	justify-content: center;
}

.codeEditorTextArea {
	outline: none;
	border: none;
	box-sizing: border-box;
	line-height: 1.5;
}

.editorBackground {
	width: 700px;
	height: 700px;
	background: radial-gradient(circle at 0% 0%, #e07bff0a 0%, transparent 60%),
		radial-gradient(circle at 70% 40%, #5d83ff15 0%, transparent 50%),
		radial-gradient(circle at 50% 100%, #ff00000e 0%, transparent 50%),
		rgba(0, 0, 0, 0.267);
	border-radius: 0px;
	border: solid;
	border-width: 1px;
	border-color: rgba(255, 255, 255, 0.295);
	overflow: hidden;

	display: flex;
	justify-content: center;
	align-items: center;

	overflow: scroll;

	border-radius: 40px;

	padding-top: 20px;
	padding-left: 20px;
	padding-right: 5px;
}
